doctype html

html(lang='en')

  head
    style
      include ./report.css

  body
    main.container
      h1 Course Search
      input#search(type='text' name='search' placeholder='Enter your course name')
      #search-results
        ul#search-results-list

    script.
      // Get the data json that will be used as a source for the searches
      const data = !{results}

      // Create a placeholder for the search results
      let searchResults = []

      // Create a handle for the search input
      const $search = document.getElementById('search')

      // Create a handle for the search results list
      const $searchUL = document.getElementById('search-results-list')

      $search.addEventListener('keyup', e => {

        // First cull the old results
        searchResults = []

        while($searchUL.firstChild) {
          $searchUL.removeChild($searchUL.lastChild)
        }
        
        // Get the input value
        const val = e.target.value

        // Don't bother processing if the user has not input more than 2 characters
        if (val.length < 2) {
          return
        }

        // If the length is 0, then clear the search results and return
        if (val.length === 0) {
          return
        }

        // Filter the data 
        // The search should hit on instructor, title, or email        
        let results = data.filter(row => {
          if (row.title.toLowerCase().includes(val.toLowerCase())) {
            return row
          }
        })

        searchResults = results

        // Create the list items that from the searchResults 
        searchResults.forEach(row => {
          const $el = document.createElement('li')

          const $left = document.createElement('div')
          $left.className = 'left'

          const $right = document.createElement('div')
          $right.className = 'right'

          const $days = document.createElement('span')
          $days.innerText = row.days

          const $times = document.createElement('span')
          $times.innerText = row.times

          const $title = document.createElement('span')
          $title.className= 'title'
          $title.innerText = row.title

          const $instructor = document.createElement('span')
          $instructor.innerText = row.instructor

          $left.append($title, $instructor)
          $right.append($days, $times)

          $el.append($left, $right)

          $el.addEventListener('click', () => { window.open(row.filename) })

          // Append the created element to the DOM
          $searchUL.appendChild($el)
        })

      })

      function createResults(row) {
        // Destructure the row
        const {title, subject, instructor, email, days, times, filename} = row
      }
