doctype html

html(lang='en')

  head
    style
      include ./report.css

  body
    main.container
      input#search(type='text' name='search' placeholder='Enter your course name, instructor name, or intstructor email')
      table#results-table
        thead
          tr
            th Title
            th Subject
            th Instructor
            th Email
            th Days
            th Times
            th Filename
        tbody#results-tbody

    script.
      const res = !{results}
      const $resultsTbody = document.getElementById('results-tbody')

      const $search = document.getElementById('search')

      $search.addEventListener('keyup', e => {

        const val = e.target.value

        console.log(val)

      })

      function createTr(row) {
        // Destructure the row
        const {title, subject, instructor, email, days, times, filename} = row

        // Create the tr element
        const $tr = document.createElement('tr')

        // Create the title td
        const $tdTitle = document.createElement('td')
        $tdTitle.innerHTML = title
        $tr.appendChild($tdTitle)

        // Create the subject td
        const $tdSubject = document.createElement('td')
        $tdSubject.innerHTML = subject
        $tr.appendChild($tdSubject)

        // Create the instructor td
        const $tdInstructor = document.createElement('td')
        $tdInstructor.innerHTML = instructor
        $tr.appendChild($tdInstructor)

        // Create the email td
        const $tdEmail = document.createElement('td')
        $tdEmail.innerHTML = email
        $tr.appendChild($tdEmail)

        // Create the days td
        const $tdDays = document.createElement('td')
        $tdDays.innerHTML = days
        $tr.appendChild($tdDays)

        // Create the times td
        const $tdTimes = document.createElement('td')
        $tdTimes.innerHTML = times
        $tr.appendChild($tdTimes)

        // Create the filename td
        const $tdFilename = document.createElement('td') 
        $tdFilename.innerHTML = filename
        $tr.appendChild($tdFilename)

        return $tr
      }

      res.forEach(r => {
        const $r = createTr(r)
        $resultsTbody.appendChild($r)
      })